<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="margin-top:100px; border-radius:10px">
    <a href="/" class="navbar-brand">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a href="/users/login" class="nav-link">Login</a>
        </li>
    </ul>

</nav>
<a style="margin-top: 100px;"> Testing</a>